<div class = "login-box">
  <div class="field">
    <h2>ログイン</h2>
    <p>※登録したメールアドレスとパスワードを入力してください。</p>
  </div>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <h2>メール </h2><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <h2>パスワード </h2><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <h2>いってらっしゃい！</h2>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
</div>

<%= render "users/shared/links" %>

<div id="video-area">
  <video id="video" poster="public\assets\videos\forest.mp4" webkit-playsinline playsinline muted autoplay loop>
    <source src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-3-1/video/movie.mp4" type="video/mp4">
    <source src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-3-1/video/movie.ogv" type="video/ogv">
    <source src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-3-1/video/movie.webm" type="video/webm">
    <p>動画を再生できる環境ではありません。</p>
  </video>
</div>