<link rel="stylesheet" href"app/assets/stylesheets/home.scss">
<div class="aaa"><h1>和游記</h1></div>

<div id="video" >
    <div class="slide">
        <%= image_tag "photo-1682685794761-c8e7b2347702.avif" %>
        <%= image_tag "photo-1707343844152-6d33a0bb32c3.avif" %>
        <%= image_tag "photo-1707344088547-3cf7cea5ca49.avif" %>
        <%= image_tag "photo-1708073555660-00a236d31811.avif" %>
        <%= image_tag "photo-1708432527076-363a270e9f99.avif" %>
    </div>
</div>

<div class="no-scroll">
  <!-- この中のコンテンツはスクロールできません -->
</div>
