<div class="form-center">
  <h1>一覧ページ</h1>

  <%= form_tag({controller: "souvenirs", action: "index"}, method: :get) do %>
    <%= text_field_tag :search %>
    <%= submit_tag '検索する' %>
  <% end %>
</div>

<div id="hot_photos_container" class="p-search_photo-search_container m-brick_container justified-gallery">
  <% @souvenirs.each do |t| %>
    <div class="souvenir">
      <div class="home-image">
        <%= link_to (t.image? ? image_tag(t.image_url, size: "250x200") : ''), souvenir_path(t.id) %>
        <div class="souvenir-info">
          <p><%= t.name %><br><%= t.prefecture %></p>
        </div>
      </div>
    </div>
          <!-- <%= link_to "詳細へ", souvenir_path(t.id) %> -->
          <!-- <%= link_to "編集する", edit_souvenir_path(t.id) %> -->
          <!-- <%= button_to "削除する", souvenir_path(t.id), method: :delete, data: { confirm: 'Are you sure?' } %> -->
  <% end %>
</div>


    
  








<h2>gmap</h2>
<div id="map" style="height: 600px; width: 100%;"></div>

<script>
  function initMap() {
    let latlng = new google.maps.LatLng(36.2048, 138.2529);
    let styles = [{ stylers: [{ "saturation": 0 }, { "lightness": 0 }] }];
    let map = new google.maps.Map(document.getElementById('map'), {
      zoom: 5.6,
      styles: styles,
      center: latlng
    });
    let transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    <% @souvenirs.each do |souvenir| %>
      (function() {
        let markerLatLng = { lat: <%= souvenir.lat %>, lng: <%= souvenir.lng %> };
        let marker = new google.maps.Marker({
          position: markerLatLng,
          map: map
        });
        let infowindow = new google.maps.InfoWindow({
          content: "<a href='<%= souvenir_path(souvenir.id) %>' target='_blank'><img src='<%= souvenir.image_url %>' alt='<%= souvenir.name %>' style='width:120px;'></a>"
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      })();
    <% end %>
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkxCV4XGBt1l8ID4gCPcOBXv-Ny71LwLE&callback=initMap" async defer></script>
