<%= form_for(@perfume, class: 'form-horizontal', role: 'form') do |f| %>
    <div class="perfume-container">
        <div class="col-12">
            <p>Q1. 旅行先で重視するのは…</p>
        </div>
        <div class="col-6">
            <%= f.radio_button :question1, "1", id: "custom_id1" %>
            <label for="custom_id1">文化と歴史</label>
            <%= f.radio_button :question1, "2", id: "custom_id2" %>
            <label for="custom_id2">自然と風景</label>
        </div>
        <div class="col-12">
            <p>Q2. お土産を選ぶ際、最も大切にするのは…</p>
        </div> 
        <div class="col-6">
            <%= f.radio_button :question2, "1", id: "custom_id3" %>
            <label for="custom_id3">ユニークさ</label>
            <%= f.radio_button :question2, "2", id: "custom_id4" %>
            <label for="custom_id4">実用性</label>
        </div>   
        <div class="col-12">
            <p>Q3. お土産を選ぶ際に重要視するのは…</p>
        </div>
        <div class="col-6">
            <%= f.radio_button :question3, "1", id: "custom_id5" %>
            <label for="custom_id5">価格</label>
            <%= f.radio_button :question3, "2", id: "custom_id6" %>
            <label for="custom_id6">品質</label>
        </div>
    
        <div class="col-12">
            <p>Q4. お土産を選ぶ際、どちらを優先しますか…</p>
        </div>
        <div class="col-6">
            <%= f.radio_button :question4, "1", id: "custom_id7" %>
            <label for="custom_id7">受け取る人の好み</label>
            <%= f.radio_button :question4, "2", id: "custom_id8" %>
            <label for="custom_id8">自分の興味・好み</label>
        </div>
    </div>
    <div class="diagnosis-button">
        <%= f.submit "結果を見る" %>
    </div>
<% end %>